name: RBDAS Tests

on:
  pull_request:
    branches: [ main ]
    paths:
      - 'src/cloud/workflowScheduling/rbdas/**'
      - 'test/cloud/workflowScheduling/rbdas/**'
      - 'config/**'
      - '.github/workflows/rbdas-tests.yml'
  push:
    branches: [ main ]
    paths:
      - 'src/cloud/workflowScheduling/rbdas/**'
      - 'test/cloud/workflowScheduling/rbdas/**'
      - 'config/**'

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
    
    - name: Compile RBDAS components
      run: |
        javac -encoding UTF-8 \
          -cp ".:commons-math3-3.3.jar:poi-4.1.0.jar:json-simple-1.1.1.jar:junit-4.13.2.jar:hamcrest-core-1.3.jar:bin" \
          -d bin \
          src/cloud/workflowScheduling/rbdas/*.java
    
    - name: Compile existing workflow components
      run: |
        javac -encoding UTF-8 \
          -cp ".:commons-math3-3.3.jar:poi-4.1.0.jar:json-simple-1.1.1.jar:bin" \
          -d bin \
          src/cloud/workflowScheduling/setting/*.java || true
    
    - name: Compile tests
      run: |
        javac -encoding UTF-8 \
          -cp ".:commons-math3-3.3.jar:poi-4.1.0.jar:json-simple-1.1.1.jar:junit-4.13.2.jar:hamcrest-core-1.3.jar:bin" \
          -d bin \
          test/cloud/workflowScheduling/rbdas/*.java
    
    - name: Run tests
      run: |
        java -cp ".:commons-math3-3.3.jar:poi-4.1.0.jar:json-simple-1.1.1.jar:junit-4.13.2.jar:hamcrest-core-1.3.jar:bin" \
          cloud.workflowScheduling.rbdas.TestRunner
    
    - name: Upload test results
      if: always()
      uses: actions/upload-artifact@v3
      with:
        name: test-results
        path: results/
